body {
    background-image: url(https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1936&q=80);
    background-size: cover;
    background-position-x: center;
    height: 100vh;
}

.Home-page {
    position: relative;
    z-index: 0;
    background: rgba(221, 213, 213, 0.808);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 15px;
    text-align: center;
}

.Home-page input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: rgb(214, 238, 236);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.Home-page button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(121, 124, 77);
    width: 80%;
    border: 0;
    padding: 10px;
    color: rgb(15, 15, 15);
    font-size: 14px;
    cursor: pointer;
}